@charset "UTF-8";
:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
  --border-form: 1px solid rgba(33, 33, 33, 0.2);
  --color-main: #757575;
  --color-white-primary: #ffffff;
  --color-white-secondary: rgba(255, 255, 255, 0.6);
  --color-dark-primary: #212121;
  --color-accent-primary: #2196f3;
  --color-accent-secondary: #000000;
  --color-background-primary: #2f303a;
  --color-background-secondary: #f5f4fa;
  --color-button-background: #188ce8;
  --color-icon-primary: #afb1b8;
  --color-overlay-primary: rgba(47, 48, 58, 0.4);
  --color-overlay-secondary: rgba(47, 48, 58, 0.8);
  --color-overlay-example-card: rgba(33, 150, 243, 0.9);
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --shadow-section-examples-example-item: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadow-section-examples-example-item-hover: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadow-section-hero-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-modal-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --function-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--font-family-primary), sans-serif;
  color: var(--color-main);
  background-color: var(--color-white-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  outline: none;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button-section-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--color-accent-primary);
  color: var(--color-white-primary);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: var(--shadow-section-hero-button);
  border-radius: 4px;
}

.list-link-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-icon-primary);
  transition: fill 250ms var(--timing-function);
}

.link-social:hover,
.link-social:focus {
  fill: var(--color-white-primary);
  background-color: var(--color-accent-primary);
  transition: fill 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.link-social-item:not(:last-child) {
  margin-right: 10px;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-dark-primary);
  text-align: center;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  background-color: var(--color-white-primary);
  box-shadow: var(--shadow-modal);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: background-color 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--color-white-primary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.button-close:focus,
.button-close:hover {
  fill: var(--color-accent-primary);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark-primary);
}

.form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-main);
}

.form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: var(--border-form);
  transition: border 250ms var(--timing-function);
}

.form-input:focus {
  outline: none;
  border-color: var(--color-accent-primary);
}

.message-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-main);
}

.message-input {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: var(--border-form);
  resize: none;
  transition: border 250ms var(--timing-function);
}

.message-input:focus {
  outline: none;
  border-color: var(--color-accent-primary);
}

.message-input::placeholder {
  color: var(--color-placeholder);
}

.form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--color-dark-primary);
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.form-input:focus + .form-input-icon {
  border: var(--color-accent-primary);
  fill: var(--color-accent-primary);
}

.form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
}

.form-checkbox-label::before {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  content: "";
  border: 2px solid var(--color-dark-primary);
  border-radius: 2px;
  transition: border 250ms var(--timing-function);
}

.form-checkbox:checked + .form-checkbox-label::before {
  background-image: url(../images/icons/icon-check.svg);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
  border-color: transparent;
  background-size: contain;
}

.form-checkbox:focus + .form-checkbox-label::before {
  border-color: var(--color-accent-primary);
}

.checkbox-link {
  text-decoration: underline;
  color: var(--color-accent-primary);
}

.modal-form-button {
  display: block;
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white-primary);
  background-color: var(--color-button-background);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: var(--shadow-modal-button);
  cursor: pointer;
}

.burger-btn {
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  transition: fill 250ms var(--function-transition);
}

.burger-btn:hover,
.burger-btn:focus {
  fill: var(--color-accent-primary);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: red;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  transform: translatex(100%);
  transition: opacity 500ms var(--function-transition),
    visibility 500ms var(--function-transition);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.container-mobile {
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  height: 100%;
  width: 100%;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-btn {
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: transparent;
  cursor: pointer;
}

.mobile-menu-list__item:not(:last-child),
.mobile-contact-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-list__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var --color-main;
}

.mobile-list__link--active {
  color: var(--color-accent-primary);
}

.mobile-contact-list {
  margin-top: auto;
}

.mobile-contact-list__link {
  letter-spacing: 0.02em;
}

.tel {
  font-size: 8px;
  font-weight: 500px;
  line-height: 40px;
  color: var(--color-accent-primary);
}

.mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: var(--color-main);
}

.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-social-list__item:not(:last-child):after {
  content: "";
  width: 22px;
  height: 0px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social-list__link {
  padding-right: 10px;
  font-size: 18px;
  font-weight: 500px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--color-accent-primary);
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--font-family-secondary);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent-primary);
}

.header .logo {
  margin-right: 93px;
}

.header__logo-accent {
  color: var(--color-accent-secondary);
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.menu-nav {
  display: flex;
}

.menu-nav__item {
  position: relative;
}

.menu-nav__item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-dark-primary);
  transition: color 250ms var(--timing-function);
}

.menu-nav__link:hover,
.menu-nav__link:focus,
.menu-nav__link.current {
  color: var(--color-accent-primary);
  transition: color 250ms var(--timing-function);
}

.menu-nav__link.current::after {
  content: "";
  display: block;
  justify-content: center;
  position: absolute;
  top: 50px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-accent-primary);
}

.menu-contacts {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .menu-contacts {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .menu-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-main);
  transition: color 250ms var(--timing-function);
}

.menu-contacts__link:hover,
.menu-contacts__link:focus,
.menu-contacts__link:hover,
.menu-contacts__link:focus {
  color: var(--color-accent-primary);
  transition: color 250ms var(--timing-function);
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--color-main);
  transition: fill 250ms var(--timing-function);
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  color: var(--color-main);
  fill: var(--color-main);
  transition: color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.menu-contacts__link:hover .envelope,
.menu-contacts__link:focus .envelope,
.menu-contacts__link:hover .smartphone,
.menu-contacts__link:focus .smartphone {
  fill: var(--color-accent-primary);
  transition: fill 250ms var(--timing-function);
}

.section-hero {
  background-color: var(--color-background-primary);
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      var(--color-overlay-primary),
      var(--color-overlay-primary)
    ),
    url(../images/index.html/hero/hero-background.jpg);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-1200@2x.jpg");
  }
}

@media screen and (max-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-768.jpg");
    padding: 103px 0px;
    height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (max-width: 768px) and (min-resolution: 192dpi),
  screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-768@2x.jpg");
  }
}

@media screen and (max-width: 480px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-480.jpg");
    padding: 118px 0px;
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (max-width: 480px) and (min-resolution: 192dpi),
  screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/hero-480@2x.jpg");
  }
}

.title-section-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white-primary);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.section-advantages {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section-advantages {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .list-section-advantages {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .list-section-advantages-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .list-section-advantages-item {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .list-section-advantages-item {
    margin: 15px;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.list-section-advantages-item-icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-background-secondary);
  border-radius: 4px;
}

.list-section-advantages-item-icon {
  width: 70px;
  height: 70px;
}

.list-section-advantages-item-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-dark-primary);
  margin-bottom: 10px;
}

.list-section-advantages-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-main);
}

.section-activities {
  padding-bottom: 94px;
}

.list-section-activities {
  display: flex;
  justify-content: center;
}

.list-section-activities-item {
  position: relative;
}

.list-section-activities-item:not(:last-child) {
  margin-right: 30px;
}

.activities-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--color-overlay-secondary);
}

.activities-title {
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white-primary);
}

.section-team {
  padding: 60px 0;
  background-color: var(--color-background-secondary);
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .list-section-team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.list-section-team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .list-section-team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .list-section-team-item {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .list-section-team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin: 15px;
  }
}

.list-section-team-item-text {
  text-align: center;
  padding: 30px 32px;
}

.list-section-team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-dark-primary);
  margin-bottom: 10px;
}

.list-section-team-item-description {
  line-height: 1.19;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.section-clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section-clients {
    padding: 94px 0;
  }
}

.list-section-сlients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.list-section-сlients-item {
  height: 92px;
  width: 100%;
}

@media screen and (max-width: 479px) {
  .list-section-сlients-item {
    flex-basis: 70%;
    margin: 0 auto;
  }
}

.list-section-сlients-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .list-section-сlients-item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .list-section-сlients-item {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .list-section-сlients-item {
    flex-basis: calc(100% / 6 - 30px);
    margin: 15px;
  }
}

.list-section-сlients-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border: 1px solid var(--color-icon-primary);
  border-radius: 4px;
  transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}

.list-section-сlients-item-link:hover,
.list-section-сlients-item-link:focus {
  border: 1px solid var(--color-accent-primary);
  fill: var(--color-accent-primary);
  transition: border 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.icon-ya-co {
  width: 41px;
  height: 46.7px;
}

.icon-company-tag-line-here {
  width: 40px;
  height: 52px;
}

.icon-company {
  width: 43.46px;
  height: 41.18px;
}

.icon-foster-peters {
  width: 84.44px;
  height: 40.62px;
}

.icon-brand {
  width: 62.54px;
  height: 45.43px;
}

.icon-company-tag-line {
  width: 93.79px;
  height: 43.93px;
}

.client-icon {
  fill: var(--color-icon-primary);
  transition: fill 250ms var(--timing-function);
}

.list-section-сlients-item-link:hover .client-icon,
.list-section-сlients-item-link:focus .client-icon {
  fill: var(--color-accent-primary);
  transition: fill 250ms var(--timing-function);
}

.section-examples {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section-examples {
    padding: 94px 0;
  }
}

.button-section-examples {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-dark-primary);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.button-section-examples:hover,
.button-section-examples:focus,
.button-section-examples.current {
  background-color: var(--color-accent-primary);
  color: var(--color-white-primary);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
}

.list-section-examples-button {
  display: flex;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .list-section-examples-button {
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -8px;
  }
}

@media screen and (min-width: 768px) {
  .list-section-examples-button {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .list-section-examples-button-item {
    margin-top: 15px;
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .list-section-examples-button-item:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .list-section-examples-example {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 768px) {
  .list-section-examples-example-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .list-section-examples-example-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .list-section-examples-example-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.list-section-examples-example-item-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms var(--timing-function);
}

.list-section-examples-example-item-link:hover,
.list-section-examples-example-item-link:focus {
  box-shadow: var(--shadow-section-examples-example-item-hover);
  transition: color 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
}

.list-section-examples-example-item-box-image {
  position: relative;
  overflow: hidden;
}

.list-section-examples-example-item-box-overlay-text {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 62px 24px;
  overflow: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-white-primary);
  background-color: var(--color-overlay-example-card);
  transform: translateY(100%);
  transition: color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
}

.list-section-examples-example-item-link:hover
  .list-section-examples-example-item-box-overlay-text,
.list-section-examples-example-item-link:focus
  .list-section-examples-example-item-box-overlay-text {
  transform: translateY(0);
}

.list-section-examples-example-item-text {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.list-section-examples-example-item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-dark-primary);
  margin-bottom: 4px;
}

.list-section-examples-example-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-main);
}

.footer {
  padding: 60px 0;
  background-color: var(--color-background-primary);
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer-logo-adrress {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo-adrress {
    margin-right: 70px;
  }
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-accent-footer {
  color: var(--color-white-primary);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.link-contacts-footer-address {
  color: var(--color-white-primary);
  transition: color 250ms var(--timing-function);
}

.link-contacts-footer {
  color: var(--color-white-secondary);
}

.link-contacts-footer-address:hover,
.link-contacts-footer-address:focus,
.link-contacts-footer:hover,
.link-contacts-footer:focus {
  color: var(--color-accent-primary);
  transition: color 250ms var(--timing-function);
}

@media screen and (max-width: 767px) {
  .footer-join {
    margin-bottom: 60px;
    text-align: center;
  }
}

.footer-join-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white-primary);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-label {
    display: block;
    margin-top: 20px;
  }
}

.footer-join-list-link-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-white-primary);
}

@media screen and (max-width: 1199px) {
  .footer-form-container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-container {
    margin-left: auto;
  }
}

.footer-form-field {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  color: var(--color-white-primary);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: var(--shadow-modal-button);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .footer-form-field {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-field {
    width: 358px;
  }
}

.footer-form-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-form-field {
    margin-bottom: 20px;
  }
}

.footer-form-button {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white-primary);
  background-color: var(--color-accent-primary);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: var(--shadow-modal-button);
  cursor: pointer;
}

.footer-button-icon {
  margin-left: 10px;
}

.footer-join-list-link-social {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer-join-list-link-social {
    justify-content: center;
  }
}

.footer-join-list-link-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-join-list-link-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-join-list-link-social-link:hover,
.footer-join-list-link-social-link:focus {
  background-color: var(--color-accent-primary);
  transition: background-color 250ms var(--timing-function);
}
/*# sourceMappingURL=main.css.map */
