.section-advantages {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.list-section-advantages {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.list-section-advantages-item {
  // width: 270px;
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    margin: 15px;
    flex-basis: calc(100% / 4 - 30px);
  }
}
.list-section-advantages-item-icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-background-secondary);
  border-radius: 4px;
}
.list-section-advantages-item-icon {
  width: 70px;
  height: 70px;
}
.list-section-advantages-item-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-dark-primary);
  margin-bottom: 10px;
}
.list-section-advantages-item-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-main);
}
