.section-clients {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.list-section-сlients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.list-section-сlients-item {
  height: 92px;
  width: 100%;
  @media screen and (max-width: 479px) {
    flex-basis: 70%;
    margin: 0 auto;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 480px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
    margin: 15px;
  }
}
.list-section-сlients-item-link {
  display: flex;

  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  border: 1px solid var(--color-icon-primary);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
  &:hover,
  &:focus {
    border: 1px solid var(--color-accent-primary);
  }
}
.icon-ya-co {
  width: 41px;
  height: 46.7px;
}
.icon-company-tag-line-here {
  width: 40px;
  height: 52px;
}
.icon-company {
  width: 43.46px;
  height: 41.18px;
}
.icon-foster-peters {
  width: 84.44px;
  height: 40.62px;
}
.icon-brand {
  width: 62.54px;
  height: 45.43px;
}
.icon-company-tag-line {
  width: 93.79px;
  height: 43.93px;
}
.client-icon {
  fill: var(--color-icon-primary);
  transition: fill 250ms var(--timing-function);
  .list-section-сlients-item-link:hover &,
  .list-section-сlients-item-link:focus & {
    fill: var(--color-accent-primary);
  }
}
