.footer {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  background-color: var(--color-background-primary);
}
.footer-container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-logo-adrress {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo-accent-footer {
  color: var(--color-white-primary);
}
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.list-address-item:not(:last-child) {
  margin-bottom: 9px;
}
.link-contacts-footer-address {
  color: var(--color-white-primary);
  transition: color 250ms var(--timing-function);
}
.link-contacts-footer {
  color: var(--color-white-secondary);
  transition: color 250ms var(--timing-function);
}
.link-contacts-footer-address:hover,
.link-contacts-footer-address:focus,
.link-contacts-footer:hover,
.link-contacts-footer:focus {
  color: var(--color-accent-primary);
}
.footer-join {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    text-align: center;
  }
}
.footer-join-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white-primary);
}
.subscription-label {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    margin-top: 20px;
  }
}
.footer-join-list-link-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-white-primary);
}
.footer-form-container {
  @media screen and (max-width: 1199px) {
    text-align: center;
    // margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
  // margin-left: 92px;
}
.footer-form {
  // display: flex;
  // align-items: center;
}
.footer-form-field {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  color: var(--color-white-primary);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: var(--shadow-modal-button);
  border-radius: 4px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}
.footer-form-button {
  // display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white-primary);
  background-color: var(--color-accent-primary);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: var(--shadow-modal-button);
  cursor: pointer;
}
.footer-button-icon {
  margin-left: 10px;
}
.footer-join-list-link-social {
  display: flex;
  align-items: center;
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}
.footer-join-list-link-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-join-list-link-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--color-accent-primary);
  }
}
