.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--font-family-secondary);

  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent-primary);
  .header & {
    margin-right: 93px;
  }
}
.header__logo-accent {
  color: var(--color-accent-secondary);
}
.nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.menu-nav {
  display: flex;
}
.menu-nav__item {
  // position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.menu-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-dark-primary);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus,
  &.current {
    color: var(--color-accent-primary);
    position: relative;
  }
  &.current::after {
    content: "";
    display: block;
    justify-content: center;
    position: absolute;
    bottom: -36px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-accent-primary);
    @media screen and (min-width: 1200px) {
      bottom: -31px;
    }
  }
}
.menu-contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  margin-left: auto;
}
.menu-contacts__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.menu-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-main);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--color-accent-primary);
  }
}
.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--color-main);
  transition: fill 250ms var(--timing-function);
}
.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  color: var(--color-main);
  fill: var(--color-main);
}
.menu-contacts__link:hover .envelope,
.menu-contacts__link:focus .envelope,
.menu-contacts__link:hover .smartphone,
.menu-contacts__link:focus .smartphone {
  fill: var(--color-accent-primary);
}
