.section-hero {
  background-color: var(--color-background-primary);
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      var(--color-overlay-primary),
      var(--color-overlay-primary)
    ),
    url(../images/index.html/hero/hero-background.jpg);
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/adaptive/hero/hero-1200@2x.jpg");
  }
  @media screen and (max-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/adaptive/hero/hero-768.jpg");
    padding: 103px 0px;
    height: 100%;
    max-width: 100%;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/adaptive/hero/hero-768@2x.jpg");
    }
  }
  @media screen and (max-width: 480px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../images/adaptive/hero/hero-480.jpg");
    padding: 118px 0px;
    max-height: 100%;
    max-width: 100%;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../images/adaptive/hero/hero-480@2x.jpg");
    }
  }
}
.title-section-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white-primary);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
