.section-hero {
  background-color: var(--color-background-primary);
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      var(--color-overlay-primary),
      var(--color-overlay-primary)
    ),
    url(../images/index.html/hero/hero-background.jpg);
}
.title-section-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white-primary);
  width: 696px;
  // text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
