.modal-form {
  display: flex;
  flex-direction: column;
  position: relative;
  // padding: 40px;
}
.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark-primary);
}
.form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-main);
}
.form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: var(--border-form);
  transition: border 250ms var(--timing-function);
  &:focus {
    outline: none;
    border-color: var(--color-accent-primary);
  }
}
.message-field {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-main);
}
.message-input {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: var(--border-form);
  resize: none;
  transition: border 250ms var(--timing-function);
  &:focus {
    outline: none;
    border-color: var(--color-accent-primary);
  }
  &::placeholder {
    color: var(--color-placeholder);
  }
}
.form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--color-dark-primary);
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
  .form-input:focus + & {
    border: var(--color-accent-primary);
    fill: var(--color-accent-primary);
  }
}
.form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  &::before {
    display: block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    content: "";
    border: 2px solid var(--color-dark-primary);
    border-radius: 2px;
    transition: border 250ms var(--timing-function);
  }
  .form-checkbox:checked + &::before {
    background-image: url(../../images/icons/icon-check.svg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
    background-color: var(--color-accent-primary);
    background-size: contain;
  }
  .form-checkbox:focus + &::before {
    border-color: none;
  }
}
.checkbox-link {
  text-decoration: underline;
  color: var(--color-accent-primary);
}
.modal-form-button {
  display: block;
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white-primary);
  background-color: var(--color-button-background);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: var(--shadow-modal-button);
  cursor: pointer;
}
