.list-link-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-icon-primary);
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--color-white-primary);
    background-color: var(--color-accent-primary);
  }
}
.link-social-item:not(:last-child) {
  margin-right: 10px;
}
