:root {
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
  --border-form: 1px solid rgba(33, 33, 33, 0.2);
  --color-main: #757575;
  --color-white-primary: #ffffff;
  --color-white-secondary: rgba(255, 255, 255, 0.6);
  --color-dark-primary: #212121;
  --color-accent-primary: #2196f3;
  --color-accent-secondary: #000000;
  --color-background-primary: #2f303a;
  --color-background-secondary: #f5f4fa;
  --color-button-background: #188ce8;
  --color-icon-primary: #afb1b8;
  --color-overlay-primary: rgba(47, 48, 58, 0.4);
  --color-overlay-secondary: rgba(47, 48, 58, 0.8);
  --color-overlay-example-card: rgba(33, 150, 243, 0.9);
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --shadow-section-examples-example-item: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadow-section-examples-example-item-hover: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadow-section-hero-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-modal-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
